.news-list__news-card {
    max-width: 600px;
    margin: 0 auto 60px;
    padding: 10px;
    border: 1px solid black;
}
.news-list__wrapper {
    border: 1px solid black;
    
}

//for title at mobile and tablet

.news-list__title_mobile {
    text-align: center;
    display: none;

    @media screen and (max-width: 767.99px){
        display: block;
        margin: 30px 0;
    }
}

//nothing found styles

.news-list__nothing {
    display: block;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    min-height: 400px;
}

.news-card {

    //styles for img at news
   
    &__picture{
        display: block;
        overflow: hidden;
        width: 90%;
        height: 300px;
        margin: 10px auto 20px;
        text-align: center;
    }

    &__img {
        background: $grey-color;
        height: 100%;
    }

    //styles for text-block

    &__title{
        margin-bottom: 20px;;
    }

    &__description {
        margin-bottom: 25px;
    }

    &__data-info {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: stretch;
        border: 1px solid $grey-color;
        border-radius: 5px;
        padding: 15px;
    }

    &__pubsish-date{
        margin-bottom: 0;
    }

    &__link{
        
        transition: 1s;

        &:hover {
            transform: scale(1.3);
        }
    }
}