
.user-widget{
    text-align: center;
    border: 1px solid black;
    padding: 40px 0;
    overflow: hidden;
    transition: all 1s;

    

    &__img {
        border-radius: 50%;
        cursor: pointer;
    }

    &__name {
        font-family: 'Sniglet', cursive;
    }

    &__email {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 18px;
    }

    &__button {
        background: $primary-color;
        font-family: 'Roboto Condensed', sans-serif;
        width: 80%;
    }
}