$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 1024px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 930px,
  xl: 1170px
);

$bg-color: #A5C4FA;


$primary-color: #327ED2;
$primary-color-hover: #729FD2;
$primary-color-opacity: rgba(114,159,210, 0.5);

$white-color: #ffffff;

$primary-color-rgb: rgba(164,191,247, 0.4);
$active-color: #88F75C;
$grey-color: rgb(157, 157, 157);
$light-grey-color: rgba(157, 157, 157, 0.2);
$black-color: #000;