.weather {

    margin-bottom: 30px;


    &__city {
        cursor: pointer;
    }

    //get flex for weather info

    &__temp-block {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }

    //styles for weather-search-form

    &__form-input {

        width: 80%;

        @media screen and (max-width: 991.99px) and (min-width: 768px){
            width:100%;
           
        }

        @media screen and (max-width: 767.99px){
            width:90%;
        }
        
    }

    &__button {

        @media screen and (max-width: 991.99px) and (min-width: 768px){
            width:100%;
            text-align: center;
        }
    }

    //position img to vertical center

    &__img {
        position: relative;
        top: 10px;
    }
    
    //styles for text block at weather

    &__params-block{
        font-size: 12px;
    }

    &__params-row {
        color: $grey-color;
        margin: 0;
    }

    //sunrise and sunset time

    &__data {
        color: $black-color;
    }

    &__day-time {
        margin-top: 20px;
    }

    &__time {
        margin: 0;
        font-size: 14px;
        text-align: center;
    }
}