.filters {
    padding: 40px 10px;

    &__title{
        text-align: center;
        margin-bottom: 20px;

        &_clickable{
            cursor: pointer;
        }
    }

    //count block

    &__count-block{
        display: flex;
        justify-content: center;

        @media screen and (min-width: 768px) and (max-width: 991.99px){
            flex-direction: column;
        }
    }

    &__count-button {
        display: block;
        padding: 20px;
        background: $primary-color;

        &_active {
            background: $active-color;
        }
        
    }

    //category block

    &__category {
        margin-top: 30px;

        &-item {
            cursor: pointer;
            padding: 10px;
            transition: 1s;

            &:hover {
                background: $light-grey-color;
            }

            &_active {
                background: $light-grey-color;
            }
        }
    }

    //show button block

    &__show{
        padding-top: 20px;
        text-align: center;
    }
}