@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Sniglet');
@import './styles//variables';
@import './styles/component/button';

@import './components/header/index';
@import './components/user-profiles/index';
@import './components/Filters/index';
@import './components/weatherView/index';
@import './components/newsList/index';
@import './components/weather/weather-page';
@import './portals/weatherPortal/weather-portal';
@import './portals/mobileMenu/menu-portal';

.text{
    font-family: 'Roboto Condensed', sans-serif;
}

.link {
    color: inherit;
    display: block;

    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.form{

    &__input{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $primary-color;
        font-family: 'Roboto Condensed', sans-serif;

        &::placeholder{
            color: $grey-color;
        }
    }

    &__button {
        background: $primary-color;
        padding: 12px 10px;
        border-radius: 5px;
    }
}

